# ============================
# JAVA / JAVAFX
# ============================

# Build output
bin/
out/
build/
target/

# Class files
*.class

# Jar / War / Ear (nếu tự build)
*.jar
*.war
*.ear

# JavaFX SDK (rất nặng → không push Git)
lib/javafx-sdk-*/
javafx-sdk-*/

# Native libs
*.dll
*.so
*.dylib


# IntelliJ / IDEA
.idea/
*.iml

# ============================
# SYSTEM FILES
# ============================
.DS_Store
Thumbs.db
desktop.ini

# ============================
# TEMPORARY FILES
# ============================
*.log
*.tmp
*.cache
